<form class="form-inline">
	<label style="color:black"><%= @poll.question %></label>
	<% @poll.fields.all.each do |field| %>
		<%= link_to field.content, feedback_poll_path(@poll.id,field.id), :class => "btn" %> 
	<% end %>
</form>
